

<table class="table">
  <thead>
    <tr>
      <th>Fecha de Lista</th>
      <th>Nombre</th>
      <th>Numero</th>
      <th>Respondio:</th>
      <th>Duracion De llamada</th>
      <th>Respuesta</th>
    </tr>
  </thead>
  <tbody>
    <%@lists.each do |list|%>
      <% list.contacts.each do |contact|%>
        <tr>
          <th scope="row"><%=list.created_at.strftime("%d-%b-%y %I:%M%P")%></th>
          <td><%=contact.name%></td>
          <td><%=contact.phone%></td>
          <%if contact.sid.blank?%>
            <td>Deconosido</td>
            <td>Deconosido</td>
          <%else%>
            <td><%= answered_by(@client.calls.get(contact.sid).answered_by,@client.calls.get(contact.sid).status)%></td>
            <td><%= seconds_to_time(@client.calls.get(contact.sid).duration)%></td>
          <%end%>
          <td><%=decode_call_response(contact.response)%></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>
