

<table class="table">
  <thead>
    <tr>
      <th>Fecha de Lista</th>
      <th>Nombre</th>
      <th>Numero</th>
      <th>Respondio:</th>
      <th>Respuesta</th>
      <th>Duracion De llamada</th>
    </tr>
  </thead>
  <tbody>
    <%@lists.each do |list|%>
      <% list.contacts.each do |contact|%>
        <tr>
          <th scope="row"><%=list.created_at.strftime("%d-%b-%y %I:%M%P")%></th>
          <td><%=contact.name%></td>
          <td><%=contact.phone%></td>
          <td><%= contact.sid%></td>
          <td><%=decode_call_response(contact.response)%></td>
          <td><%= contact.sid%></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>
