<div class="container contact-div-container">
  <%if current_user.verified == false %>
    <div class="row pull-right">
      <div class="col-lg-12 ">
        <button id="<%=@user.id%>" class="btn btn-warning btn-lg varify-phone-button" data-toggle="modal" data-target="#myModalHorizontal">
        Verifique Su Numero
        </button>
        <!-- Modal -->
        <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <!-- Modal Header -->
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                Ingrese El siguiente Numero:
                </h4>
              </div>
              <!-- Modal Body -->
              <div class="modal-body">
                <div class="form-group">
                  <!-- <h3>Numero: </h3> -->
                  <h2 class="center-text" id="twilio-verification-code"> 5643</h2>
                </div>
              </div>
              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>


<div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= current_user.first_name%> <%=current_user.last_name%></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Correo:</td>
                        <td><%= current_user.email%></td>
                      </tr>
                      <tr>
                        <td>Numero:</td>
                        <td><%= current_user.number %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
             <div class="panel-footer">
               <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span> Mis Contactos</a>
               <span class="pull-right">
                 <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i> Editar</a>
               </span>
            </div>
          </div>
          <%= link_to "Iniciar Llamadas", contacts_new_path(current_user.id), :class => "btn btn-success btn-new-contacts" %>
        </div>
      </div>
    </div>
